.game {
    position: relative;
}

.end {
    position: absolute;
    top: 70%;
    left: 35%;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffffd5;
    border-radius: 16px;
    /* visibility: hidden; */
  }

.scoreBox {
    position: absolute;
    top: 5%;
    left: 90%;
    width: 100px;
    height: 100px;
}