.game {
    position: relative;
}

.end {
    position: absolute;
    top: 70%;
    left: 35%;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    z-index: 100;
  }

.scoreBox {
    position: absolute;
    top: 5%;
    left: 90%;
    width: 100px;
    height: 100px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(246, 242, 242, 0.533);
  }
